In [1]:
Project = '/Users/daehwa/Library/CloudStorage/OneDrive-Personal/Junlab/Projects/Adipocyte'
from IPython.display import display
import pandas as pd
import numpy as np

Conds = ['0','4','8']
reps = ['a','b','c']

In [2]:
# Loading the count files
drop_col = ['Chr', 'Start', 'End', 'Strand', 'Length']

RNA_count = pd.read_csv(f'{Project}/Results/Tables/featureCounts/v20220511/RNA', sep='\t', skiprows=1).drop(columns=drop_col)
RNA_count = RNA_count.rename(columns={'Geneid' : 'gene_id',
                                      'gene_name' : 'gene_name',
                                      'alignments/RNA/D0a.sorted.bam' : 'R0a',
                                      'alignments/RNA/D0b.sorted.bam' : 'R0b',
                                      'alignments/RNA/D0c.sorted.bam' : 'R0c',
                                      'alignments/RNA/D4a.sorted.bam' : 'R4a',
                                      'alignments/RNA/D4b.sorted.bam' : 'R4b',
                                      'alignments/RNA/D4c.sorted.bam' : 'R4c',
                                      'alignments/RNA/D8a.sorted.bam' : 'R8a',
                                      'alignments/RNA/D8b.sorted.bam' : 'R8b',
                                      'alignments/RNA/D8c.sorted.bam' : 'R8c'})
RNA_count['gene_id'] = RNA_count['gene_id'].str.split('.').str[0]

RPF_count = pd.read_csv(f'{Project}/Results/Tables/featureCounts/v20220511/novaseq', sep='\t', skiprows=1).drop(columns=drop_col)
RPF_count = RPF_count.rename(columns={'Geneid' : 'gene_id',
                                      'gene_name' : 'gene_name',
                                      'alignments/novaseq/D0a.sorted.bam' : 'P0a',
                                      'alignments/novaseq/D0b.sorted.bam' : 'P0b',
                                      'alignments/novaseq/D0c.sorted.bam' : 'P0c',
                                      'alignments/novaseq/D4a.sorted.bam' : 'P4a',
                                      'alignments/novaseq/D4b.sorted.bam' : 'P4b',
                                      'alignments/novaseq/D4c.sorted.bam' : 'P4c',
                                      'alignments/novaseq/D8a.sorted.bam' : 'P8a',
                                      'alignments/novaseq/D8b.sorted.bam' : 'P8b',
                                      'alignments/novaseq/D8c.sorted.bam' : 'P8c'})
RPF_count['gene_id'] = RPF_count['gene_id'].str.split('.').str[0]

display(RNA_count)
display(RPF_count)

,gene_id,gene_name,R0a,R0b,R0c,R4a,R4b,R4c,R8a,R8b,R8c
0,ENSMUSG00000102693,4933401J01Rik,0,0,0,0,0,0,0,0,0
1,ENSMUSG00000064842,Gm26206,0,0,0,0,0,0,0,0,0
2,ENSMUSG00000051951,Xkr4,19,13,22,1,3,3,4,1,14
3,ENSMUSG00000102851,Gm18956,0,0,0,0,0,0,0,0,0
4,ENSMUSG00000103377,Gm37180,2,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
55354,ENSMUSG00000064368,mt-Nd6,11588,8852,9691,25254,13862,27097,45146,33680,28571
55355,ENSMUSG00000064369,mt-Te,42,32,38,13,44,34,21,10,9
55356,ENSMUSG00000064370,mt-Cytb,89911,62373,75649,213709,139924,168128,220600,138385,158429
55357,ENSMUSG00000064371,mt-Tt,0,2,0,3,4,8,4,8,6
55358,ENSMUSG00000064372,mt-Tp,1950,1518,1668,27760,6671,15482,52069,48107,33088

,gene_id,gene_name,P0a,P0b,P0c,P4a,P4b,P4c,P8a,P8b,P8c
0,ENSMUSG00000102693,4933401J01Rik,0,0,0,0,0,0,0,0,0
1,ENSMUSG00000064842,Gm26206,0,0,0,0,0,0,0,0,0
2,ENSMUSG00000051951,Xkr4,22,27,71,5,14,9,7,11,32
3,ENSMUSG00000102851,Gm18956,0,0,0,0,0,0,0,0,0
4,ENSMUSG00000103377,Gm37180,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
55354,ENSMUSG00000064368,mt-Nd6,4452,3280,4254,8500,5627,8975,14540,17507,11194
55355,ENSMUSG00000064369,mt-Te,0,0,0,4,1,3,1,3,0
55356,ENSMUSG00000064370,mt-Cytb,9565,7081,9571,11854,15137,16471,9784,10164,10194
55357,ENSMUSG00000064371,mt-Tt,13,9,19,159,93,150,168,156,171
55358,ENSMUSG00000064372,mt-Tp,300,265,256,449,366,387,608,838,540

In [3]:
# Cut the genes with low expression
cut = 20

slct = (((RNA_count[['R0a','R0b','R0c']] > cut).T.sum() == 3) | 
        ((RNA_count[['R4a','R4b','R4c']] > cut).T.sum() == 3) | 
        ((RNA_count[['R8a','R8b','R8c']] > cut).T.sum() == 3))
RNA_count = RNA_count[slct].reset_index(drop=True)

slct = (((RPF_count[['P0a','P0b','P0c']] > cut).T.sum() == 3) | 
        ((RPF_count[['P4a','P4b','P4c']] > cut).T.sum() == 3) | 
        ((RPF_count[['P8a','P8b','P8c']] > cut).T.sum() == 3))
RPF_count = RPF_count[slct].reset_index(drop=True)

counts = pd.merge(RNA_count, RPF_count, on=['gene_id','gene_name'])
display(counts)

,gene_id,gene_name,R0a,R0b,R0c,R4a,R4b,R4c,R8a,R8b,R8c,P0a,P0b,P0c,P4a,P4b,P4c,P8a,P8b,P8c
0,ENSMUSG00000033845,Mrpl15,1359,1286,1276,4368,2826,4338,5755,6623,5096,1287,1214,1300,4251,3082,5006,5917,5963,4608
1,ENSMUSG00000025903,Lypla1,1577,1202,1354,1890,1241,1565,3064,1722,1857,44,42,61,76,73,103,86,88,76
2,ENSMUSG00000033813,Tcea1,2984,2127,2304,1112,1065,984,3430,1966,1996,815,861,1003,494,690,579,1449,1156,1169
3,ENSMUSG00000033793,Atp6v1h,2882,2372,2858,2295,2423,2317,2485,1890,2256,6812,6204,7083,9278,9771,9805,8568,8234,8453
4,ENSMUSG00000025907,Rb1cc1,480,216,332,281,154,268,438,315,294,1786,1872,2343,1920,2054,2071,1905,2290,2181
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12238,ENSMUSG00000064366,mt-Tl2,8,3,8,95,42,93,75,16,27,84,77,80,111,79,76,150,166,168
12239,ENSMUSG00000064367,mt-Nd5,26996,17503,21348,38945,30232,55131,71382,52929,48346,4870,3869,4880,7431,9293,9218,9995,11717,8860
12240,ENSMUSG00000064368,mt-Nd6,11588,8852,9691,25254,13862,27097,45146,33680,28571,4452,3280,4254,8500,5627,8975,14540,17507,11194
12241,ENSMUSG00000064370,mt-Cytb,89911,62373,75649,213709,139924,168128,220600,138385,158429,9565,7081,9571,11854,15137,16471,9784,10164,10194
12242,ENSMUSG00000064372,mt-Tp,1950,1518,1668,27760,6671,15482,52069,48107,33088,300,265,256,449,366,387,608,838,540

In [4]:
# Selecting protein coding genes
import gzip
import csv

gtf_file = gzip.open('/Users/daehwa/Library/CloudStorage/OneDrive-Personal/Junlab/Data_Library/GTF/gencode.vM27.annotation.gtf.gz', 'rt')
raw_info = csv.reader(gtf_file, dialect='excel-tab')

protein_coding=[]
for line in raw_info:
    if line[0].startswith("#"):
        continue
    if line[2].startswith("gene") and 'protein_coding' in line[8]:
        gene_id = line[8].split(';')[0].split('"')[1].rstrip('"').split('.')[0]
        protein_coding.append(gene_id)

print(protein_coding[:5])
print(f'Number of protein-coding genes {len(protein_coding)}')

['ENSMUSG00000051951', 'ENSMUSG00000025900', 'ENSMUSG00000025902', 'ENSMUSG00000033845', 'ENSMUSG00000025903']
Number of protein-coding genes 21834

In [5]:
counts = counts[counts['gene_id'].isin(protein_coding)].reset_index(drop=True)

display(counts)

,gene_id,gene_name,R0a,R0b,R0c,R4a,R4b,R4c,R8a,R8b,R8c,P0a,P0b,P0c,P4a,P4b,P4c,P8a,P8b,P8c
0,ENSMUSG00000033845,Mrpl15,1359,1286,1276,4368,2826,4338,5755,6623,5096,1287,1214,1300,4251,3082,5006,5917,5963,4608
1,ENSMUSG00000025903,Lypla1,1577,1202,1354,1890,1241,1565,3064,1722,1857,44,42,61,76,73,103,86,88,76
2,ENSMUSG00000033813,Tcea1,2984,2127,2304,1112,1065,984,3430,1966,1996,815,861,1003,494,690,579,1449,1156,1169
3,ENSMUSG00000033793,Atp6v1h,2882,2372,2858,2295,2423,2317,2485,1890,2256,6812,6204,7083,9278,9771,9805,8568,8234,8453
4,ENSMUSG00000025907,Rb1cc1,480,216,332,281,154,268,438,315,294,1786,1872,2343,1920,2054,2071,1905,2290,2181
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11810,ENSMUSG00000064358,mt-Co3,3649,3623,2065,33430,23304,24225,55529,15096,31370,193,161,215,252,240,286,310,368,272
11811,ENSMUSG00000064363,mt-Nd4,23073,14350,16752,65587,29436,41593,109193,53791,56312,1520,1189,1725,1975,2606,2687,2915,3067,2738
11812,ENSMUSG00000064367,mt-Nd5,26996,17503,21348,38945,30232,55131,71382,52929,48346,4870,3869,4880,7431,9293,9218,9995,11717,8860
11813,ENSMUSG00000064368,mt-Nd6,11588,8852,9691,25254,13862,27097,45146,33680,28571,4452,3280,4254,8500,5627,8975,14540,17507,11194
11814,ENSMUSG00000064370,mt-Cytb,89911,62373,75649,213709,139924,168128,220600,138385,158429,9565,7081,9571,11854,15137,16471,9784,10164,10194

In [6]:
counts.to_csv('P-R-counts_afterFilt.tsv', sep='\t', index=False)